:root{
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(225, 3%, 28%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body{
    background-color: var(--VeryDarkBlue);
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.card{
    background-color: var(--DarkBlue);
    border-radius: 1rem;
    padding:1.5rem;
    font-family: Overpass;
    font-size: 15px;
    width: 90%;

}

.rate__card{
    padding-bottom: 2rem;
}
.star-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--MediumGrey);
    border-radius: 50%;
    text-align: center;
}

.star-img {
    max-width: 1.15rem;
    position: relative;
    top: 12px;
    left: 1px;
}

h1{
    margin:1rem 0rem;
    color: var(--White);
}

.body__text{
    color:var(--LightGrey);
    margin:1rem 0rem;
}

.rate__container{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
    padding-inline: 1rem;
}
.rate__btn{
    background-color: var(--MediumGrey); 
    color:var(--White);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 0;
    text-align: center;
    font-size: 14px;
}

.submit__btn{
    text-align: center;
}

button{
    background-color: var(--Orange);
    color:var(--White);
    width:95%;
    padding-block: .95rem;
    border-radius: 2rem;
    font-size: 18px;
    border: 0;
}

button:hover{
    background-color: var(--White);
    color:var(--Orange);
}

.thank__card{
    padding-bottom: 2rem;
    text-align: center;
    display: none;

}

.rate__choice{
    margin:1rem;
    color:var(--Orange);
    background-color: var(--MediumGrey);
    border-radius: 1rem;
    padding: .5rem 0rem;
    margin:.5rem 2rem;
}

.thank__text{
    color: var(--LightGrey);
}

@media (min-width: 900px){
    .card{
        max-width:33%
    }

    
}