:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(220, 4%, 29%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}

body{
    font-size: 15px;
    font-family: Overpass;
    background-color: var(--VeryDarkBlue);
    justify-content: center;
    display: flex;
    padding: 10rem;
    color: var(--White);
}
.card{
    background-color: var(--DarkBlue);
    border-radius: 1rem;
    padding: 1rem;
}

.top__star{
    margin: .75rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.star__grid{
    background-color: var(--MediumGrey);
    border-radius: 50%;
    padding:.5rem;
    margin:.5rem;
}

.star{
    margin: .25rem;
    margin-top: .65rem;
    padding: 0.25rem;
}

.title{
    font-size:24px;
    font-weight: 700;
    margin: .75rem 0rem;
}

.card__rate__text{
    margin: .75rem 0rem;
}

.rating__circles{
    margin: 1.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.number{
    background-color: var(--MediumGrey);
    border-radius: 50%;
    padding:1rem;
    margin:.5rem;
}

.number:hover{
    background-color: var(--Orange);
}

.number:active{
    background-color: var(--LightGrey);
}

.button{
    margin: 0rem 0rem 2rem 0rem;
    text-align: center;
}

button{
    background-color: var(--Orange);
    border-radius: 1.75rem;
    padding: 1rem 9rem;
    color: var(--White);
    font-size: large;
    font-weight: 700;
    border:0px;
}

button:hover{
    background-color: var(--White);
    color:var(--Orange);
}

.thank_you{
    padding:.5rem;
    text-align: center;
}

.thank__img{
    text-align: center;
    margin: 1rem 0rem;
}

.rate__select{
    text-align: center;
    border-radius: 1.25rem;
    background-color: var(--MediumGrey);
    margin: .5rem 4rem 2rem 4rem;
    padding: .5rem 0rem;
    color:var(--Orange)
}

.thank__title{
    text-align: center;
    margin:1rem 0rem 2rem 0rem;
    font-size: 24px;
    font-weight: 700;
}

.thank__text{
    text-align: center;
    margin: 1rem;
}

@media screen and (min-width:900px){
    .card{
        width:35%;
        margin-top: 5rem;
    }
    button{
        padding: 1rem 10rem;
    }
    .rating__circles{
        margin:.25rem 2rem;
        padding:0rem 3rem;
    }
    .rate_select{
        margin: .5rem 2rem 2rem 2rem;
    }
    .star__grid{
        background-color: var(--MediumGrey);
        border-radius: 50%;
        padding:0rem;
        margin:2rem;
    }
    .card__rate__text{
        margin: .75rem 2rem;
    }
    .title{
        font-size:24px;
        font-weight: 700;
        margin: .75rem 2rem;
    }
    
}